# Database
DATABASE_URL="postgresql://<db_user>:<db_password>@postgres:5432/<db_name>?api_key=<api_key>"

# Message Broker (RabbitMQ)
APP_MB_HOST=rabbitmq
APP_MB_PORT=5672
APP_MB_USER=<mb_user>
APP_MB_PASSWORD=<mb_password>

# Redis
APP_REDIS_HOST=redis

# docker .env
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_DB=<db_name>

RABBITMQ_DEFAULT_USER=<mb_user>
RABBITMQ_DEFAULT_PASS=<mb_password>